---
class: agenda
layout: default
title: Club Agenda
description: Een overzicht van alle geplande evenementen en een overzicht van de trainingsuren per ploeg.
redirect_from:
  - /info/trainingen/
  - /info/trainingen/zaal/
  - /info/trainingen/veld/
---
<div class="container">
  <div class="wrapper">
    <h1 class="larger">Agenda</h1>
    <p class="centered">Hieronder staat een overzicht van de <a class="plain underline" href="#evenementen">evenementen</a> en <a class="plain underline" href="#trainingen">trainingen</a> die doorgaan bij KCBJ</p>
    <p class="centered">De volledige, gedetailleerde, up-to-date agenda van alle trainingen, wedstrijden en activiteiten van KCBJ vind je <a href="http://login.twizzit.com/website/websitepreview/570/index.php">hier</a>.</p>
  </div>
</div>
<div class="hero container" id="first-divider">
  <div class="overlay">
  </div>
</div>
<div class="container">
  <div class="wrapper">
    <div class="text" id="evenementen">
      <h1>Evenementen</h1>
      <div class="events">
        {% for event in site.data.events %}
          {% assign location = site.locations | where: "id", event.location | first %}
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Event",
              "name": "{{event.title | escape}}",
              "location": "{{site.url}}{{location.url}}",
              {% if event.start %}
              "startDate": "{{ event.start | date_to_xmlschema }}",
                {% if event.end %}
              "endDate": "{{ event.end | date_to_xmlschema }}",
                {% endif %}
              {% else %}
              "startDate": "{{ event.date | date: "%Y-%m-%d" }}",
              {% endif %}
              {% if event.facebook %}
              "sameAs": "{{ event.facebook }}",
              {% endif %}
              "organizer": { "@id": "{{site.url}}" }
            }
          </script>
        <div class="event">
          {% if event.image %}
            <div class="image" style="background-image: url( '/images/events/{{event.image}}' );"></div>
          {% endif %}
          <div class="content">
            <div class="top">
              <h3 class="title">{{ event.title }}</h3>
              <div class="date">
                {% if event.start %}
                  {% assign month = event.start | date: "%B" %}
                  {% assign lmonth = site.data.months | where: "en", month | first %}
                  <time datetime="{{ event.start | date_to_xmlschema }}">{{ event.start | date: "%-d" }} {{ lmonth.nl }} {{ event.start | date: "%Y %H:%M" }}</time>
                  {% if event.end %}
                  - <time datetime="{{ event.end | date_to_xmlschema }}">{{ event.end | date: "%H:%M" }}</time>
                  {% endif %}
                {% else %}
                  {% assign month = event.date | date: "%B" %}
                  {% assign lmonth = site.data.months | where: "en", month | first %}
                  <time datetime="{{ event.date | date_to_xmlschema }}">{{ event.date | date: "%-d" }} {{ lmonth.nl }} {{ event.date | date: "%Y" }}</time>
                {% endif %}
              </div>
            </div>
            <div class="bottom">
              <a class="location plain underlined" href="{{location.url}}" title="{{location.name}}">{{location.name}}</a>
              {% if event.facebook %}
              <ul class="links">
                <li class="facebook">
                  <a href="{{event.facebook}}" title="{{event.title}} on Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="hero container" id="second-divider">
  <div class="overlay blue">
  </div>
</div>
<div class="container">
  <div class="wrapper">
    <div id="trainingen" class="text">
      <h1>Trainingen {{site.data.training.season}}</h1>

      {% for period in site.data.training.periods %}
      <h2>{{period.name}}</h2>

      <table class="full" id="trainingen-table">
        <thead>
          <tr>
            <th>Ploeg</th>
            <th class="first">Weekdag</th>
            <th>Start</th>
            <th>Einde</th>
            <th></th>
            <th>Locatie</th>
          </tr>
        </thead>
        <tbody>
          {% for team in period.teams %}
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "SportsTeam",
              "@id": "kcbj:teams:{{team.name | slugify}}",
              "name": "{{team.name | escape}}",
              "memberOf": { "@id": "{{site.url}}" }
            }
          </script>
          {% assign count = 0 %}
          <tr>
            <td class="key" rowspan="{{team.trainings.size}}">{{team.name}}</td>
          {% for training in team.trainings %}
            {% if count > 0 %}<tr>{% endif %}
            {% assign count = count | plus: 1 %}
            {% assign location = site.data.locations | where: "id", training.location | first %}
            <td class="first" data-title="weekdag">{{training.weekday}}</td>
            <td data-title="start">{{training.starts_at}}</td>
            <td data-title="einde">{{training.ends_at}}</td>
            <td>{{training.note}}</td>
            <td data-title="locatie"><a class="plain underlined" href="../#location" title="{{location.name}}">{{location.name}}</a></td>
          </tr>
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "SportsEvent",
              "name": "Training",
              "attendee": { "@id": "kcbj:teams:{{team.name | slugify}}" },
              "location": "{{location.url}}",
              "organizer": "{{site.url}}",
              "typicalAgeRange": "{{team.ages}}",
              "doorTime": "{{training.starts_at}}"
            }
          </script>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>

      {% endfor %}
    </div>
  </div>
</div>
