---
layout: default
class: front index
map: true
head: |
  <script src="/js/index.js"></script>
tags:
  - property: "og:type"
    content: "website"
  - property: "og:image"
    content: "http://www.kcbj.be/images/logo/logo.png"
  - property: "og:image:type"
    content: "image/png"
  - property: "og:image"
    content: "http://www.kcbj.be/images/logo/logo.svg"
  - property: "og:image:type"
    content: "image/svg+xml"
redirect_from:
  - /info/locaties/

---
<section id="welcome" class="first fullscreen jumbo hero container nomargin">
  <div class="video">
    <video autoplay loop>
      <source src="/images/video/video-home.webm" type="video/webm" />
      <source src="/images/video/video-home.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="overlay blue"></div>
  <div class="wrapper">
    <h1>Welkom bij korfbalclub KCBJ</h1>
    <h2>KCBJ is een korfbalclub uit Betekom met meer dan 150 actieve leden</h2>
    <div class="buttons">
      <a class="button more" href="/info">Meer over KCBJ</a>
    </div>
    <div class="buttons">
      <a class="button more" style ="text-align: center" href="/trainingsweek">Korfbalweek<br>Zomer 2016</a>
    </div>
    <div id="down" class="more">
      <a href="#trainingen"><i class="fa fa-angle-down"></i></a>
    </div>
  </div>
</section>
<section id="trainingen" class="container">
  <div class="horizontal split left">
    <div class="background">
      <div class="overlay"></div>
    </div>
    <div class="content">
      <h2>Mee komen trainen?</h2>
      <p>Je bent altijd welkom!  Je mag al eens komen meetrainen met één van onze ploegen om korfbal en KCBJ wat beter te leren kennen.  Zo kan je zien of korfbal iets voor jou is.</p>
      <div class="buttons right">
        <a class="button more" href="/agenda#trainingen" title="Trainingsuren">Trainingsuren</a>
      </div>
    </div>
  </div>
</section>
<section id="lidworden" class="container">
  <div class="horizontal split right">
    <div class="background">
      <div class="overlay"></div>
    </div>
    <div class="content">
      <h2>Lid worden?</h2>
      <p>Je hebt beslist bij ons te komen korfballen?  De volgende stap is lid worden.  Hier vind je alles wat je moet weten om lid te worden van KCBJ.</p>
      <div class="buttons left">
        <a class="button more" href="/info#lidworden" title="Lid worden van KCBJ">Lid worden</a>
      </div>
    </div>
  </div>
</section>
<section id="social" class="hero container nomargin">
  <div class="overlay blue"></div>
  <div class="wrapper">
      <h1>Volg KCBJ online</h1>
      <p class="centered">We zijn actief op zowel Facebook als Twitter.  De laatste nieuwtjes, de recentste foto's, ze verschijnen daar als eerste.</p>
      <div class="buttons">
        <a class="button" href="http://www.twitter.com/kcbj"><i class="fa fa-twitter"></i> KCBJ op Twitter</a>
        <a class="button" href="http://www.facebook.com/kcbj.korfbal"><i class="fa fa-facebook"></i> KCBJ op Facebook</a>
      </div>
  </div>
</section>
<section id="location" class="container hero nomargin">
  <div class="wrapper">
    <h1>Locaties</h1>
    <p class="centered">Korfbal wordt zowel binnen als buiten gespeeld.  KCBJ traint en speelt daarom op verschillende locaties.  Dit zijn de belangrijkste.</p>
    <ol id="location-list" class="buttons">
      {% assign locations = site.locations | where: "featured", true | sort: "order" %}
      {% for location in locations %}
        <li class="button location"
            data-location-coordinates="{{ location.coordinates[0] }},{{ location.coordinates[1] }}"
            data-location-name="{{ location.name }}"
        >{{ location.name }}</li>
      {% endfor %}
    </ol>
  </div>
  <div id="map"></div>
</section>
<section id="sponsors" class="container">
  <div class="wrapper">
    <h1 class="title">Sponsors</h1>
    <ul id="sponsor-list">
      {% for sponsor in site.data.sponsors %}
      <li class="sponsor">
          <a href="{{sponsor.website | default: '#' }}" title="{{sponsor.title}}">
            <img src="/images/sponsors/{{sponsor.logo}}" />
          </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<script type="application/ld+json">
  {% assign location = site.locations | sort: "order" | first %}
  {
    "@context": "http://schema.org",
    "@type": "SportsClub",
    "@id": "{{site.url}}",
    "name": "Korfbal Club KCBJ",
    {% if location.address %}
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{location.address.street_address | escape}}",
      "postalCode": "{{location.address.postalCode | escape}}",
      "addressLocality": "{{location.address.locality | escape}}",
      "addressCountry": "Belgium"
    },
    {% endif %}
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": {{location.coordinates[0]}},
      "longitude": {{location.coordinates[1]}}
    },
    "events": "http://kcbj.be/agenda",
    "url": "{{site.url}}",
    "logo": "{{site.url}}/images/logo/logo.png",
    "sameAs": [
      "http://www.facebook.com/kcbj.korfbal",
      "http://www.twitter.com/kcbj",
      "https://plus.google.com/u/0/+KcbjBe/"
    ]
  }
</script>
