<footer class="container" id="footer">
    {% if page.url != "/sponsors/" %}
      <div class="wrapper overlay blue" id="sponsor-footer">
        <p id="sponsor-list">
          <b>Sponsors: </b>
            {% assign levels = "Platinum,Goud,Zilver,Brons,Sympathisant" | split: "," %}
            {% for level in levels %}
              {% assign sponsors = site.data.sponsors | where: "level", level | sort:"title" %}
              {% for sponsor in sponsors %}
              <a href="/sponsors/#{{sponsor.level | downcase}}">
                {{sponsor.title}}
              </a>
              • 
              {% endfor %}
            {% endfor %}
            ...
        </p>
      </div>
    {% endif %}
    <div class="wrapper">
      <div class="horizontal stretch">
      <a href="/" class="identity">KCBJ vzw</a>
      <nav id="footer-menu">
        {% include menu.html %}
      </nav>
      <nav id="social-menu">
        <ul class="menu">
          <li><a href="http://facebook.com/kcbj.korfbal"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://twitter.com/kcbj"><i class="fa
          fa-twitter"></i></a></li>
          <li><a href="http://flickr.com/photos/kcbj"><i class="fa
          fa-camera"></i></a></li>
          <li><a href="http://vimeo.com/kcbj"><i class="fa fa-film"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
