<footer class="container" id="footer">
    {% if page.url != "/sponsors/" %}
      <div class="wrapper overlay blue" id="sponsor-footer">
          <a href="/sponsors">Sponsors</a>
          {% assign levels = "Platinum,Goud,Zilver,Brons" | split: "," %}
          {% for level in levels %}
            {% assign sponsors = site.data.sponsors | where: "level", level | sort_natural:"title" %}
            {% if sponsors.size > 0 %}
              <span class="sponsor-level sponsor-{{level | downcase}}" id="{{level | downcase}}">
              <b><a href="/sponsors/#{{level | downcase}}">{{ level }}</a>:</b>
              {% for sponsor in sponsors %}
                <a href="/sponsors/#{{sponsor.level | downcase}}">
                  {{sponsor.title}}
                </a>
                {% if forloop.last == false %}•{% endif %}
              {% endfor %}
              </span>
            {% endif %}
          {% endfor %}
          {% assign sympatisanten = site.data.sponsors | where: "level", "Sympathisant" | sort_natural:"title" %}
          {% if sympatisanten.size > 0 %}
              <span class="sponsor-level sponsor-sympathisant" id="sympathisant">
              {% if sympatisanten.size == 1 %}
                en <a href="/sponsors/#sympathisant">1 sympathisant</a>.
              {% else if sympatisanten.size > 1 %}
                en <a href="/sponsors/#sympathisant">{{sympatisanten.size}} sympathisanten</a>.
              {% endif %}
              </span>
          {% endif %}
      </div>
    {% endif %}
    <div class="wrapper">
      <div class="horizontal stretch">
      <a href="/" class="identity">KCBJ vzw</a>
      <nav id="footer-menu">
        {% include menu.html %}
      </nav>
      <nav id="social-menu">
        <ul class="menu">
          <li><a href="http://facebook.com/kcbj.korfbal"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/kcbj.korfbal/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="http://flickr.com/photos/kcbj"><i class="fa
          fa-camera"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCG45o3tMROk3kBmDzn0ykwA/videos"><i class="fa fa-film"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
