<footer class="container" id="footer">
  <div class="horizontal wrapper">
    <a href="/" class="identity">KCBJ vzw</a>
    <nav id="footer-menu">
      {% include menu.html %}
    </nav>
    <nav id="social-menu">
      <ul class="menu">
        <li><a href="http://facebook.com/kcbj.korfbal"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://twitter.com/kcbj"><i class="fa fa-twitter"></i></li>
        <li><a href="http://flickr.com/photos/kcbj"><i class="fa fa-camera"></i></li>
        <li><a href="http://vimeo.com/kcbj"><i class="fa fa-film"></i></li>
      </ul>
    </nav>
  </div>
</footer>
