{% if page.collection %}
  {% assign vars = layout %}
{% else %}
  {% assign vars = page %}
{% endif %}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="shortcut icon" href="/images/favicon.ico" />

  <meta name="twitter:site" content="@kcbj" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />

  <meta property="og:url" content="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:site_name" content="KCBJ Online" />
  <meta property="og:locale" content="nl_NL" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  {% if page.descritpion %}
  <meta property="og:description" content="{{ page.description | escape}}" />
  <meta name="twitter:description" content="{{ page.description | escape}}" />
  {% endif %}

  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
  {% endif %}

  {% for tag in page.tags %}
  <meta {% if tag.name %}name="{{tag.name}}" {% endif %}{% if tag.property %}property="{{tag.property}}" {% endif %}content="{{ tag.content }}" />
  {% endfor %}

  <meta name="fb:page_id" content="199694587105" />
  <meta name="fb:admins" content="1632090585" />

  <link href="https://plus.google.com/114992508173906128553" rel="publisher" />

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <link 
    href='https://fonts.googleapis.com/css?family=Roboto+Slab:500,400,300|Lato:300,400,700,900|Permanent+Marker'
    rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ "/js/modernizr.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/banner.js" | prepend: site.baseurl }}"></script>

  {% if vars.map %}
    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
    <script src="/js/mapbox.js"></script>
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {{ vars.head }}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42873608-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
