<ul class="menu">
  {% if page.url != "/index.html" %}
    <li class="home"><a href="/"><i class="fa fa-lg fa-home"></i></a></li>
  {% endif %}
  <li {% if page.url == "/corona/"%}class="active"{% endif %}><a href="/corona" class="new">Corona</a></li>
  <li {% if page.url == "/info/"%}class="active"{% endif %}><a href="/info">Info</a></li>
  <li {% if page.url == "/visie/"%}class="active"{% endif %}><a href="/visie">Visie</a></li>
  <li {% if page.url == "/locations/"%}class="active"{% endif %}><a href="/locations">Locaties</a></li>
  <li {% if page.url == "/agenda/"%}class="active"{% endif %}><a href="/agenda">Agenda</a></li>
  <li {% if page.url == "/sponsors/"%}class="active"{% endif %}><a href="/sponsors">Sponsors</a></li>
  <li {% if page.url == "/downloads/"%}class="active"{% endif %}><a href="/downloads">Downloads</a></li>
  <li {% if page.url == "/contact"%}class="active"{% endif %}><a href="/contact">contact</a></li>
</ul>
