<ul class="menu">
  {% if page.url != "/index.html" %}<li><a href="/"><i class="fa fa-lg fa-home"></i></li>{% endif %}
  <li {% if page.url == "/info/index.html"%}class="active"{% endif %}><a href="/info">Info</a></li>
  <li {% if page.url == "/agenda/index.html"%}class="active"{% endif %}><a href="/agenda">agenda</a></li>
  <li {% if page.url == "/media/index.html"%}class="active"{% endif %}><a href="/media">media</a></li>
  <li {% if page.url == "/downloads/index.html"%}class="active"{% endif %}><a href="/downloads">downloads</a></li>
</ul>
