html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color:           #ffffff;
  padding:                    0;
  margin:                     0;

  font-size:                  $base-font-size;
  font-weight:                $base-font-weight;
  font-family:                $base-font-family;
  line-height:                $base-line-height;
  color:                      $base-font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family:                $title-font-family;
  font-weight:                $base-font-weight;
  margin:                     $base-line-height 0;
  color:                      #191919;
}

h1 {
  font-size:                  $xxxlarge-font-size;
  line-height:                $xxxlarge-line-height;
  text-align:                 center;
}

h2 {
  font-size:                  $xxlarge-font-size;
  line-height:                $xxlarge-line-height;
}

p {
  text-align:                 justify;
  margin:                     $base-line-height 0;

  &.center {
    text-align:               center;
    font-size:                $large-font-size;
    line-height:              $large-line-height;
  }
}

@mixin button( $color: $base-font-color, $border: #cdcdcd ) {
  line-height:                $base-line-height * 2;
  padding:                    0 2rem;
  border:                     1px solid $border;
  text-decoration:            none;
  color:                      $color;
  display:                    inline-block;
  border-radius:              2px;
  font-weight:                400;
  cursor:                     pointer;

  &:hover {
    transition:               .27s;
    background-color:         transparentize( $border, .8 );
    border-color:             darken( $border, 20% );
  }

  .fa {
    margin-right:              0.5rem;
  }
}

.button {
  @include button;
}

.button.white {
  @include button( #FFFFFF );
}

.button.more {
  text-transform:             uppercase;
  font-size:                  $small-font-size;
}

.pull-right {
  float:                      right;
}
