.corona {

    .container.hero {
        min-height: 14rem;
    }
    .corona-afspraak{

        width: 50%;

        margin-top: 2em;
        margin-bottom: 2em;

        .button {
            text-align: center;
        }

    }

}

