#footer {
  @include container;
  background-color:           $dark-gray;
  color:                      #ffffff;

  .identity {
    padding:                  $header-vert-padding 0;
    @include flex( 1 1 25% );
    text-decoration:          none;
    font-weight:              400;
    color:                    rgba( 255, 255, 255, .5 );

    &:hover {
      color:                  #ffffff;
    }
  }

  #footer-menu {
    @include flex( 1 1 50% );
    .menu {
      @include menu( rgba( 255, 255, 255, .5 ), #ffffff, center );

      li a {
        font-size:            $small-font-size;
      }
    }
  }

  #social-menu {
    @include flex( 1 1 25% );
    .menu {
      @include menu( rgba( 255, 255, 255, .5 ), #ffffff );

      li a {
        font-size:              $large-font-size;
      }
    }
  }

  a {
    color:                    #ffffff;
    text-decoration:          none;
  }
}
