#footer {
  margin-top:           $base-line-height * 3;
  background-color:     $dark-gray;
  @include light-on-dark;
  font-family:          $sans-serif-font-family;

  a {
    text-decoration:    none;
    @include link-color( rgba( 255, 255, 255, .3 ) !important, #ffffff !important );
  }

  @media screen and (min-width: $grid-min-width) {
    padding:              $base-line-height * 1.5 0;
  }
}

#footer .identity {
  padding:              $base-line-height 0;
  font-weight:          $medium-font-weight;
  @include link-color( #ffffff !important, #ffffff !important );
  text-align:           center;
  display:              none;

  @media screen and (min-width: $grid-min-width) {
    text-align:         left;
    display:            block;
  }
}

#footer-menu ul {
  @include ul-menu( center );
}

#social-menu ul {
  @include ul-menu;

  a {
    font-size:          $large-font-size !important;
  }
}
