#header {
  position:             relative;
  border-bottom:        1px solid rgba( 255, 255, 255, .2 );
  z-index:              100;
}

#logo-container {
  margin:               0;
  padding:              $base-line-height 0 0 0;

  @media screen and (min-width: $grid-min-width ) {
    padding:              $base-line-height 0;
  }
}

#logo-container {
  min-width:            $base-line-height * 3;
}

#logo-container #logo {
  min-height:           1 * $base-line-height;
  display:              block;
  width:                100%;
  background-size:      contain;
  background-repeat:    no-repeat;
  background-position:  left center;
  text-decoration:      none;

  #logo-text {
    color:              $darker-gray;
    font-weight:        $medium-font-weight;
    font-size:          $large-font-size !important;
  }

  @media screen and (min-width: $grid-min-width) {
    min-height:           $base-line-height * 3;

    #logo-text {
      display:            none;
    }
  }
}

@media screen and (min-width: $grid-min-width) {
  #logo {
    background-image:     url( '/images/logo/logo.png' );
  }

  .svg #logo {
    background-image:     url( '/images/logo/logo.svg' );
  }

  .front #logo {
    background-image:     url( '/images/logo/logo-white.png' );
  }

  .svg .front #logo {
    background-image:     url( '/images/logo/logo-white.svg' );
  }

  .front #menu .menu a {
    @include link-color( rgba( 255, 255, 255, .8 ), #ffffff );
    @include light-on-dark;
  }

  .front .container.fullscreen.first {
    margin-top:          -5 * $base-line-height;
  }
}

#menu {
  padding:              0;
  margin:               0;

  @media screen and (min-width: $grid-min-width) {
    padding:            $base-line-height 0;
  }
}

#menu ul {
  @include ul-menu;

  li.home {
    position:           absolute;
    display:            block;
    right:              $grid-hor-padding / 2;
    top:                $base-line-height / 2;
    a { font-size:          $large-font-size; }

    @media screen and (min-width: $grid-min-width) {
      a { font-size:        $base-font-size; }
      position:             relative;
      right:                auto;
      top:                  auto;
    }
  }
}
