.hero {
  box-sizing:                   border-box;
  overflow:                     hidden;
  z-index:                      80;

  background-repeat:            no-repeat;
  background-position:          center;
  background-size:              cover;
}

.hero .video {
  z-index:                      95;
  position:                     absolute;
  width:                        100%;
  height:                       100%;
  overflow-y:                   hidden;

  video {
    min-width:                    100%;
    min-height:                   100%;
  }
}

.overlay {
  width:                        100%;
  min-height:                   100%;
  background-color:             rgba( 0, 0, 0, .5 );
  position:                     relative; //needed for z-index
  z-index:                      100;
}

.overlay.blue {
  background-color:             transparentize( $blue, 0.2 );
}


.hero h1, .hero h2 {
  text-align:                   center;
}

.hero h1 {
  color:                        #ffffff;
}

.hero h2 {
  color:                        rgba( 255, 255, 255, .8 );
}

.hero p {
  color:                        rgba( 255, 255, 255, .8 );
  font-size:                    $large-font-size;
  line-height:                  $large-line-height;
  text-align:                   center;
  font-weight:                  400;
}

.hero .buttons {
  margin-top:                 10vh;

  @include horizontal-flex( row, center, center, center );

  .button {
    margin-right:              $grid-col-padding;
  }
}

.hero .button {
  @include button( rgba( 255, 255, 255, .8 ) );

  &:hover {
    color:                    #ffffff;
    border-color:             #ffffff;
    background-color: rgba( 255, 255, 255, .2 );
  }
}
