.container.hero {
  @include light-on-dark;
  @include background;
  min-height:             $hero-height;
  // padding:                $base-line-height;
  box-sizing:             border-box;
  margin:                 $base-line-height * 3 0;
  
  &:first-child, &.nomargin {
    margin:               0 0;
  }

  .wrapper {
    @include justify-content( center );
  }

  h1 {
    color:                #ffffff;
    font-weight:          $base-font-weight;
    font-size:            $xxxlarge-font-size;
    line-height:          $xxxlarge-line-height;
  }


  h2 {
    color:                rgba( 255, 255, 255, .8 );
    text-transform:       none;
    text-align:           center;
    font-size:            $xlarge-font-size;
    line-height:          $xlarge-line-height;
    font-weight:          $base-font-weight;
  }

  p.centered {
    color:                rgba( 255, 255, 255, .8 );
    font-family:          $sans-serif-font-family;
  }

  .video {
    display:              none;
  }

  @media screen and (min-width: $grid-min-width) {
    .video {
      position:             absolute;
      top:                  0;
      left:                 0;
      right:                0;
      bottom:               0;
      z-index:              60;
      overflow:             hidden;
      display:              block;

      video {
        min-width:            100%;
        min-height:           100%;
      }
    }
  }

  &.jumbo {
    h1 {
      font-size:          $xxxxlarge-font-size;
      line-height:        $xxxxlarge-line-height;
    }

    h2 {
      font-size:          $xxlarge-font-size;
      line-height:        $xxlarge-line-height;
    }
  }
}
