#location {
  background-color:                       $dark-gray;
  @include light-on-dark;
  color:                                  #ffffff;

  .wrapper {
    @media screen and (min-width: $grid-min-width ) {
      height:                               30%;
      min-width:                            100%;
    }
  }

  #location-list {
    display:                              none;
    margin:                               $base-line-height;
    @include justify-content( center );

    @media screen and (min-width: $grid-min-width ) {
      display:                            flex;
    }
  }

  .location.button {
    background-repeat:                    no-repeat;
    background-position:                  $grid-hor-padding / 2 8px;
    padding-left:                         $grid-hor-padding * 2;
    line-height:                          $base-line-height * 3;
    text-transform:                       uppercase;
    font-weight:                          400;

    @media screen and (min-width: $grid-min-width ) {
      @include flex( 0 1 20% );
      min-width:                            11rem;
      margin:                               $base-line-height $grid-hor-padding;
    }
  }

  #map {
    height:                               70%;
    min-height:                           $hero-height;
  }
}

#sponsor-list {
  @include reset-list;
  @include flex-container( column, no-wrap, flex-start, stretch, center );

  .sponsor {
    @include flex( 1 1 auto );
    text-align:             center;

    a {
      margin-top:           $base-line-height / 2;
      padding:              $base-line-height / 4 $grid-hor-padding;
      display:              block;

      img {
        height:             $base-line-height * 4;
        max-width:          100%;
        @include filter( grayscale( 100% ) brightness( 1 ) );

        &:hover {
          transition:                 .27s;
          @include                    filter( unset );
        }
      }
    }
  }

  @media screen and (min-width: $grid-min-width) {
    @include flex-container( row, wrap, space-around, stretch, center );
  }
}
