body.index #location {
  background-color:                       $dark-gray;
  @include light-on-dark;
  color:                                  #ffffff;
  padding:                                0 $base-line-height;

  $map-height:                            60vh;

  @media screen and (min-height: 440px) { // 440 corresponds to $hero-height, the min height of the map
    padding:                                0;
  }

  #location-list {
    display:                              none;
  }

  .wrapper {
    min-height:                             30vh;
    box-sizing:                             border-box;
  }


  @media screen and (min-width: $grid-min-width ) {
    #location-list {
      @include reset-list;
      @include justify-content( space-around );
      @include flex-wrap( nowrap );
      margin:                             $base-line-height 0;
      display:                            flex;
    }
  }

  .location.button {
    background-repeat:                    no-repeat;
    background-position:                  $grid-hor-padding / 2 8px;
    background-size:                      35px 90px;
    padding-left:                         $grid-hor-padding * 2;

    line-height:                          $base-line-height * 3;

    text-transform:                       uppercase;
    font-weight:                          400;
    font-size:                          $small-font-size;
    @include flex( 1 0 6rem );

    @media screen and (min-width: 60rem) {
      font-size:                          $base-font-size;
    }
    margin:                               $base-line-height $grid-hor-padding / 2;
    max-width: none;
  }

  #map {
    width:                                100%;
    height:                               $map-height;
    min-height:                           $hero-height;
  }
}

