.media {

  #external-media {
    @include flex-container( column, nowrap, flex-start, stretch, center );

    @media screen and (min-width: $grid-min-width) {
      @include flex-container( row, nowrap, space-between, stretch, center );
    }
  }

  #external-media .column {
    @include flex( 0 0 auto );
    @include flex-container( column, nowrap, flex-start, stretch, center );
    margin:   0 0 $base-line-height * 2 0;

    @media screen and (min-width: $grid-min-width ) {
      @include flex( 1 1 30% );
      margin:  0 $grid-hor-padding;
    }
  }

  $border-width:    10px;
  $box-height:      80px;

  #external-media .column .fa {
    box-sizing:       border-box;

    text-align:       center;
    font-size:        $xxxlarge-font-size;
    line-height:      $box-height - 2 * $border-width;
    margin-top:       - ( $box-height / 2 );
    background-color: $dark-gray;
    display:          inline-block;
    height:           $box-height;
    border-radius:    $box-height / 2;
    color:            #ffffff;
    width:            $box-height;
    border:           $border-width solid #ffffff;
  }

  #external-media {
    .icon-head, .buttons, h2 {
      @include flex( 0 0 auto );
    }
  }

  #external-media p {
    @include flex( 1 0 auto );
  }

  #external-media .column h2 {
    margin-top:       0;
  }

  .icon-head {
    width:            100%;
    height:           $box-height / 2;
    border-top:       1px solid $light-gray;
    margin-top:       $box-height / 2;
    text-align:       center;
  }

  #ploegen-fotos {
    @include reset-list;

    @include flex-container( row, wrap, center, stretch, center );
    margin:                 0 -$grid-hor-padding;

    li {
      @include flex( 0 0 22rem );
      margin:                0 $grid-hor-padding $base-line-height $grid-hor-padding;
      padding:               $grid-hor-padding / 2;
      box-sizing:            border-box;
      box-shadow:            2px 2px 6px rgba( 0, 0, 0, .2 );

      @include transform( rotate( -2deg ) );
      @include transition( transform .27s linear );

      &:nth-child( odd ) {
        @include transform( rotate( 2deg ) );
      }

      &:nth-child( even ) {
        @include transform( rotate( -1.5deg ) );
      }

      &:nth-child( 3n ) {
        @include transform( rotate( 1deg ) );
      }

      &:nth-child( 4n ) {
        @include transform( rotate( -2deg ) );
      }

      &:hover {
        @include transform( rotate( 0 ) scale( 1.1 ) );
      }

      .picture {
        background-position: center;
        background-size:     cover;
        background-repeat:   no-repeat;
        height:              $base-line-height * 10;
      }

      .name {
        width:                100%;
        box-sizing:           border-box;
        line-height:          $base-line-height;
        font-size:            $large-font-size;
        text-align:           center;
        padding:              $base-line-height / 2 $grid-hor-padding $base-line-height / 2 $grid-hor-padding;
        font-weight:          700;
        font-family:          'Permanent Marker', sans-serif;
        text-transform:       uppercase;
      }
    }
  }

}
