.sponsors {

  #intro {
    @include background-image( 'hands' );
  }

  #first-divider {
    @include background-image( 'handshake' );
  }

  .sponsor-level {
    margin-top: $base-line-height * 2;
    
    h1{
      text-transform: uppercase;
      padding-top: $base-line-height * 0.5;
      padding-bottom: $base-line-height * 0.5;
    }
  }

  #sympathisant {
    #sponsor-list {
    text-align: center;
      font-size: 1.5em;
      line-height: 1.5em;
      display: block;
      li {
        display: inline;
      }
      li:after {
        content: '—';
      }
      li:last-child:after {
        content: "";
      }
    }
  }

  #sponsor-list {
    @include reset-list;
    max-width:                              100%;
    display:                            grid;
    grid-template-columns: 33% 33% 33%;

    .sponsor {

      margin-bottom: $base-line-height * 2;

      a {
        margin-top:           $base-line-height / 2;
        padding:              $base-line-height / 4 $grid-hor-padding;
        display:              block;
      }

      img {
        width: 100%;
        display: block;
        object-fit: scale-down;

        @include filter( grayscale( 100% ) brightness( 1 ) );

        &:hover {
          transition:                 .27s;
          @include                    filter( unset );
        }
      }
    }
  }

  .sponsor-platinum {
    h1:after {
      content: ' ★★★★★';
    }

    h1 {
      background-color:   $sponsor-platinum-color;
    }

    img {
      height: 200px;
    }
  }

  .sponsor-goud {
    h1:after {
      content: ' ★★★★☆';
    }

    h1 {
      background-color:   $sponsor-goud-color;
    }

    img {
      height: 180px;
    }
  }

  .sponsor-zilver {
    h1:after {
      content: ' ★★★☆☆';
    }

    h1 {
      background-color:   $sponsor-zilver-color;
    }

    img {
      height: 160px;
    }
  }

  .sponsor-brons {
    h1:after {
      content: ' ★★☆☆☆';
    }

    h1 {
      background-color:   $sponsor-brons-color;
    }

    img {
      height: 140px;
    }
  }

  .sponsor-sympathisant {
    h1:after {
      content: ' ★☆☆☆☆';
    }

    h1 {
      background-color:   #ddd;
    }

  }
}

