.todo {
  background-color:     transparentize( orange, .3 ) !important;
}

body {
  font-family:          $base-font-family;
  color:                $base-font-color;
  line-height:          $base-line-height;
  font-size:            $base-font-size;
  font-weight:          $base-font-weight;

  padding:              0;
  margin:               0;
  background-color:     #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color:                $darker-gray;
  font-family:          $title-font-family;
  margin:               0;
  padding:              0;
  text-align:           center;
}

h1 {
  font-weight:          $base-font-weight;
  font-size:            $xxlarge-font-size;
  line-height:          $xxlarge-line-height;
  margin:               $base-line-height 0;

  &.larger {
    font-size:          $xxxlarge-font-size;
    line-height:        $xxxlarge-line-height;
  }
}

h2 {
  text-transform:       uppercase;
  font-weight:          $medium-font-weight;
  font-size:            $large-font-size;
  line-height:          $large-line-height;
  margin:               $base-line-height * 1.75 0 $base-line-height * .50 0;

}

h3 {
  text-align:           left;
  font-weight:          $medium-font-weight;
  font-size:            $base-font-size;
  line-height:          $base-line-height;
  margin:               $base-line-height * 1.75 0 $base-line-height * .25 0;
}

h2, h3, h4, h5, h6 {
  @media screen and (min-width: $grid-min-width) {
    text-align:         left;
  }
}


p {
  text-align:           justify;
  margin:               $base-line-height / 2 0;
}

p.centered {
  text-align:           center;
  font-size:            $large-font-size;
  line-height:          $large-line-height;
  font-weight:          $medium-font-weight;
  margin:               $base-line-height 0;
}

strong {
  color:                $darker-gray;
  font-weight:          $medium-font-weight;
}

em {
  color:                $darker-gray;
  font-style:           italic;
}

ul.clear, ol.clear {
  @include reset-list;
}

a {
  text-decoration:      underline;
  color:                $blue;

  &:hover {
    color:              lighten( $blue, 10% );
  }

  &:visited {
    color:              darken( $blue, 10% );
  }

  &.plain {
    color:              $base-font-color;
    text-decoration:    none;

    &.underlined {
      text-decoration:  underline;
    }

    &:hover {
      color:            $blue;
      text-decoration:  underline;
    }
  }
}
