---
layout: default
class: article
tags:
  - property: "og:type"
    content: "article"
---
{% if page.next %}
<a class="absolute next" rel="next" href="{{page.next.url}}" title="{{page.next.title}}">
  <i class="fa fa-angle-right"></i> volgende
</a>
{% endif %}
{% if page.previous %}
<a class="absolute previous" rel="previous" href="{{page.previous.url}}" title="{{page.previous.title}}">
  vorige <i class="fa fa-angle-left"></i>
</a>
{% endif %}
<div class="nomargin hero container" style="background-image: url( '{{page.image}}' );{%if page.imageposition %} background-position: {{page.imageposition}};{% endif %}">
  <div class="overlay"></div>
  <div class="wrapper">
    <div class="text">
      {% assign category = page.categories | last %}
      {% assign cat = site.data.categories | where: "id", category | first %}
      {% assign month = page.date | date: "%B" %}
      {% assign lmonth = site.data.months | where: "en", month | first %}
      <div class="post">
        <span class="category">{{cat.name}}</span>
        <time datetime="{{page.date | date_to_xmlschema}}">{{page.date | date: "%-d" }} {{lmonth.nl}} {{page.date | date: "%Y"}}</time>
        <h1 class="title">{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="wrapper">
    <div class="text content">
      {% if page.subtitle %}
      <h2 class="subtitle">{{page.subtitle}}</h2>
      {% endif %}
      {% if page.abstract %}
      <p class="abstract">{{page.abstract}}</p>
      {% endif %}
      {{ content }}
      {% assign summary = page.title | truncate: 100 | url_param_escape %}
      <div class="share">
        <span class="label">Deel dit artikel</span>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&text={{summary}}" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" target="_blank"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
</div>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleSection": "{{cat.name | escape}}",
    "datePublished": "{{page.date | date_to_xmlschema }}",
    {% if page.image %} "image": "{{site.url}}{{page.image}}", {% endif %}
    "name": "{{page.title | escape}}",
    "url": "{{site.url}}{{page.url}}",
    "articleBody": "{{content | strip_html | escape}}",
    "headline": "{{page.title | escape}}"
    }
</script>
