---
layout: default
class: location
map: true
head: |
  <script src="/js/location.js"></script>
---
<div class="container">
  <div class="wrapper">
    <div class="text">
      <h1>{{page.name}}</h1>

      {% if page.address %}
      <address>
        <span class="street_address">{{page.address.street_address}}</span><br />
        <span class="postal_code">{{page.address.postal_code}}</span>&nbsp;<span class="locality">{{page.address.locality}}</span>
      </address>
      {% endif %}
    </div>
  </div>
</div>
<div id="map" style="width: 100%; height: 500px" data-map data-lat="{{page.coordinates[0]}}" data-lng="{{page.coordinates[1]}}" data-title="{{page.name}}"></div>

<meta name="DC.title" content="{{name}}" />
<meta name="geo.region" content="BE" />
{% if page.address %}
<meta name="geo.placename" content="{{page.address.locality}}" />
{% endif %}
<meta name="geo.position" content="{{page.coordinates[0]}},{{page.coordinates[1]}}" />
<meta name="ICBM" content="{{page.coordinates[0]}},{{page.coordinates[1]}}" />

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@id": "{{site.url}}{{page.url}}",
    "@type": "Place",
    "name": "{{name}}",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": {{page.coordinates[0]}},
      "longitude": {{page.coordinates[1]}}
    }{% if page.address %},
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{page.address.street_address}}",
      "postalCode": "{{page.address.postal_code}}",
      "addressLocality": "{{page.address.locality}}",
      "addressCountry": "Belgium"
    }
    {% endif %}
  }
</script>
