---
layout: default
class: location
map: true
head: |
  <script src="/js/location.js"></script>
---
<div class="container">
  <div class="wrapper">
    <div class="text">
      <h1>{{page.name}}</h1>
    </div>
  </div>
</div>
<div id="map" style="width: 100%; height: 500px" data-map data-lat="{{page.coordinates[0]}}" data-lng="{{page.coordinates[1]}}" data-title="{{page.name}}"></div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@id": "{{site.url}}{{page.url}}",
    "@type": "Place",
    "name": "{{name}}",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": {{page.coordinates[0]}},
      "longitude": {{page.coordinates[1]}}
    }{% if page.address %},
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{page.address.street_address}}",
      "postalCode": "{{page.address.postal_code}}",
      "addressLocality": "{{page.address.locality}}",
      "addressCountry": "Belgium"
    }
    {% endif %}
  }
</script>
