#logo {
  width: 60px;
  height: 60px;
}

h1 {
  background-color: rgba(0,102,153,0.8);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0.6em;
}

.btn-primary{
  background-color: rgba(0,102,153,0.8);
  border-color: rgba(0,102,153,0.8);
}
.btn-primary:hover{
  background-color: rgba(0,102,153,0.9);
  border-color: rgba(0,102,153,0.9);
}

#form{
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type=radio]:checked+label {
  background-color: #daebf2;
}

#total {
  font-weight: bold;
}

label {
  font-weight: bold;
}
label.form-check-label {
  font-weight: normal;
  margin-bottom: 0.5em;
}

#result-success span{
  font-weight: bold;
  font-size: larger;
}

#result-mededeling {
  font-family: monospace;
}
